.certificate-card {
    width: 100%;
    max-width: 309px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #f3f4f6;
    overflow: hidden;
    display: grid;
    place-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .06);

    img {
        width: 70%;
        height: 100%;
        object-fit: contain;
        margin-top: 50px;
    }
}