.customer-review {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .review-header {
        display: flex;
        align-items: center;
        gap: 16px;

        .customer-image {
            min-width: 80px;
            min-height: 80px;
            border-radius: 12px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 80px;
                height: 80px;
            }
        }

        .review-content {
            color: #000;
            font-size: 18px;
            font-style: italic;
            font-weight: 500;
            line-height: 120%;
        }
    }

    .review-body {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .customer-name {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        .customer-position {
            color: rgba(0, 0, 0, 0.50);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }

}