.feedback-card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .card-header {
        display: flex;
        align-items: center;
        gap: 16px;

        .customer-image {
            width: 80px;
            height: 80px;
            border-radius: 12px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .feedback-content {

            span {
                color: #000;
                font-size: 24px;
                font-style: italic;
                font-weight: 500;
                line-height: 120%;
            }

        }

        .swipe-buttons {
            display: flex;
            align-items: center;
            gap: 12px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px;
                border-radius: 50%;
                background: #7A1E24;
            }

        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .customer-name {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        .customer-info {
            color: rgba(0, 0, 0, 0.50);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }
    
}