.image-card {
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
    height: 387px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        position: absolute;

    }

    .text-box {
        border-radius: 12px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        z-index: 1;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .card-title {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    .card-description-italic {
        color: rgba(0, 0, 0, 0.70);
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 140%;
    }

    .card-description {
        color: rgba(0, 0, 0, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .send-request {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 6px 0px;
        border-bottom: 1px solid #000;
        background: #FFF;
        color: #000;
        width: fit-content;

        span {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 510;
            line-height: 140%;
        }

        img {
            width: 20px;
            height: 20px;
            position: relative;
        }
    }

    .card-badget {
        padding: 12px;
        border-radius: 12px;
        background: #FFF;
        z-index: 1;
        margin-left: 16px;
        margin-right: 16px;
        width: fit-content;

        span {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
    }
}