.image-card {
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
    min-height: 387px;
    cursor: pointer;

    &:hover {
        img {
            transform: scale(1.2);
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        position: absolute;
        transition: all 0.4s ease-in;

    }

    .text-box {
        border-radius: 12px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        z-index: 1;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;


        p {
            color: rgba(0, 0, 0, 0.70);
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            display: flex;
            align-items: flex-start;
            gap: 8px;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            color: red;
        }

    }

    .features {
        display: flex;
        gap: 16px;
    }

    .parameters {
        display: flex;
        align-items: center;
        gap: 24px;

        .parameter {
            border-radius: 12px;
            background: #F4F5F6;
            gap: 16px;
            padding: 16px;
        }
    }

    .card-title {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    .a {
        background-color: red;
    }

    .card-description-italic {
        color: rgba(0, 0, 0, 0.70);
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 140%;
        display: flex;
        align-items: flex-start;
        gap: 8px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;

    }

    .card-description {
        color: rgba(0, 0, 0, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;

        img {
            width: 16px;
            height: 16px;
        }
    }

    .card-description-bold {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .send-request {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 6px 0px;
        border-bottom: 1px solid #000;
        background: #FFF;
        color: #000;
        width: fit-content;

        span {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 510;
            line-height: 140%;
        }

        img {
            width: 20px;
            height: 20px;
            position: relative;
        }
    }

    .card-badget {
        padding: 12px;
        border-radius: 12px;
        background: #FFF;
        z-index: 1;
        margin-left: 16px;
        margin-right: 16px;
        width: fit-content;

        span {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
    }

    .form-button {
        width: fit-content;
    }

    p {
        display: flex;
        align-items: center;
        gap: 2px;
    }
}