.member-card {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .member-image {
        height: 302px;
        border-radius: 12px;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .member-infos {
        display: flex;
        flex-direction: column;

        .member-name {
            color: #2D2D2D;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
        }

        .member-position {
            color: #858585;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
    }
}