.offcanvas {

    &-header {
        padding: 12px;

        .logo-div {

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

    }

    &-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .offcanvas-navs {

            .nav-link {
                padding: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.2s ease-in;

                &:hover {
                    transform: scale(1.01);
                }

                span {
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .offcanvas-actions {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 12px;

            .hover-button-white {
                display: inline-block;
            }

            .view-projects {
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 12px;
                text-decoration: none;
            }
        }

    }

}