.section-info {
    padding: 24px;
    border-radius: 12px;
    background: #F4F5F6;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-title {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 4px;
    }

    &-description {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .text-box {
        border-radius: 12px;
        background: #FFF;
        padding: 16px;
    }

}