.btn-white {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: 140%;
    padding: 12px;
    border-radius: 6px;
    background: #FFF;
    text-align: center;
}