@use '../abstracts/mixins' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.modal-backdrop {
    z-index: -1;
}

.modal {
    z-index: 9999 !important;
}

.page-container {
    padding: 16px;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    text-wrap: nowrap;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    text-wrap: nowrap;
}

select {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    outline: none;
    border: none;
}

.hero-title {
    color: #FFF;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.08px;

    @include mq(tablet-portrait-up) {
        font-size: 32px;
    }

    @include mq(tablet-landscape-up) {
        font-size: 32px;
    }
}

.hero-description {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.32px;
}

.section-title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

    @include mq(tablet-portrait-up) {
        font-size: 24px;
    }
}

.section-title-white {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    @include mq(tablet-portrait-up) {
        font-size: 24px;
    }
}

.section-description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.section-description-white {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.section-description-gray {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.section-header-info {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}