.certificate-modal {

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px;
        z-index: 9999;

        .modal-image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 300px;
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            background-color: #efefef;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }

            .btn-close {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            .modal-title {
                color: #000;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;

            }

            .modal-description {
                color: rgba(0, 0, 0, 0.50);
                font-size: 16px;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }

        }

        .write-us {
            padding: 12px;
            border-radius: 6px;
            background: #29D045;

            img {
                width: 20px;
                height: 20px;
            }

            span {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 510;
                line-height: 140%;
            }
        }

    }
}