.send-request-modal {

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px;

        .modal-image {
            background: url('/assets/images/modal-img.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 190px;
            position: relative;
            border-radius: 12px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .btn-close {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            .modal-title {
                display: flex;
                align-items: center;
                gap: 6px;

                span {
                    color: #000;
                    text-align: center;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                }

            }

            .modal-description {
                color: rgba(0, 0, 0, 0.50);
                font-size: 16px;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }

        }

        .write-us {
            padding: 12px;
            border-radius: 6px;
            background: #29D045;

            img {
                width: 20px;
                height: 20px;
            }

            span {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 510;
                line-height: 140%;
            }
        }

    }
}