header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-div {
        width: 106px;
        height: 36px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 12px;

        a {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            padding: 12px;
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 16px;

        .btn-group {

            .dropdown-toggle {
                padding: 12px;
                display: flex;
                align-items: center;
                gap: 10px;

                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;

                &::after {
                    display: none;
                }

                &:focus {
                    border: none;
                }

                .circle {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: green;
                }
            }

        }


    }

}