@use '../abstracts/mixins' as *;

.page-head-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 923px;
    padding: 24px 50px 32px 50px;
    border-radius: 16px;

    @include mq(tablet-portrait-up) {
        padding: 24px 16px;
        height: auto;
    }

    .hero {
        padding-top: 70px;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            gap: 32px;
        }

        .hero-intro {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .hero-description {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 200;
                line-height: 140%;
                letter-spacing: 0.32px;
            }

            .hero-actions {
                margin-top: 16px;
                display: flex;
                align-items: center;
                gap: 12px;

                @include mq(tablet-landscape-up) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .send-request {
                    width: fit-content;
                }

                .free-consultation {
                    padding: 12px;
                    background-color: #fff;
                    color: #000;
                    border-radius: 6px;
                }
            }
        }

        .hero-form {
            flex-wrap: 1;
            border-radius: 12px;
            border: 1px solid #E7E9ED;
            background: #FFF;
            box-shadow: 0 4px 6px -2px rgba(51, 51, 51, 0.03);
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }

            .form-header {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .form-title {
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                }

                .form-description {
                    color: rgba(0, 0, 0, 0.50);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            .form-nav {
                padding-bottom: 12px;



                .nav-pills {

                    @include mq(phone-only) {
                        display: flex;
                        flex-direction: column;
                    }

                    .nav-item {
                        width: 50%;
                        border-bottom: 1px solid #efefef;

                        @include mq(phone-only) {
                            width: 100%;
                        }


                        .nav-link {
                            color: var(--neutral-colors-black, #010203);
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;

                            @include mq(phone-only) {
                                text-align: left;
                            }
                        }
                    }

                    .active {
                        background-color: transparent;
                        border-bottom: 1px solid #000;
                        color: #000;
                    }
                }
            }

            .tab-content {

                .tab-pane {

                    .tab-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .form {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 16px;

                            .form-grid-item {
                                &:nth-child(n+3) {
                                    grid-column: 1 / -1;
                                }
                            }

                            @include mq(phone-only) {
                                grid-template-columns: repeat(1, 1fr);
                            }
                        }

                        .send-request {
                            margin-top: 8px;
                        }

                        .form-info {
                            color: var(--Black-01, #333);
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.28px;
                        }

                    }

                }

            }
        }
    }
}