@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  text-wrap: nowrap;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  text-wrap: nowrap;
}

select {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

.hero-title {
  color: #FFF;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.08px;
}

.hero-description {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.section-title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.section-title-white {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.section-description {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.section-description-white {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.section-description-gray {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-div {
  width: 106px;
  height: 36px;
}
header .logo-div img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
header nav {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}
header nav a {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 12px;
}
header .header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .header-actions .btn-group .dropdown-toggle {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
header .header-actions .btn-group .dropdown-toggle::after {
  display: none;
}
header .header-actions .btn-group .dropdown-toggle:focus {
  border: none;
}
header .header-actions .btn-group .dropdown-toggle .circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
}

footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 16px;
  background: #F4F5F6;
}
footer .footer-top {
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 24px;
}
footer .footer-top .footer-infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  justify-content: space-between;
  width: 50%;
}
footer .footer-top .footer-infos .info-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-top .footer-infos .info-div .info-label {
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
footer .footer-top .footer-infos .info-div .info-content {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
footer .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-nav a {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
footer .footer-nav .social-links {
  display: flex;
  align-items: center;
}
footer .footer-nav .social-links span {
  margin-left: 16px;
}
footer .footer-nav .social-links a {
  margin-left: 24px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #E2E2E2;
  background: #EBEBEB;
}
footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .bottom-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer-bottom .bottom-actions .copyright {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
footer .footer-bottom .bottom-actions a {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.form-button {
  padding: 12px;
  border-radius: 6px;
  background: #7A1F20;
  color: #fff;
  text-align: center;
}

.btn-white {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 140%;
  padding: 12px;
  border-radius: 6px;
  background: #FFF;
  text-align: center;
}

.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-with-label label {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--neutral-colors-black, #010203);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.input-with-label label span {
  color: #EB1000;
}
.input-with-label input {
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border-bottom: 1px solid #CFCFCF;
}

.textarea-with-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.textarea-with-label label {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--neutral-colors-black, #010203);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.textarea-with-label label span {
  color: #EB1000;
}
.textarea-with-label textarea {
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border-bottom: 1px solid #CFCFCF;
  resize: none;
}

.select-with-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.select-with-label label {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--neutral-colors-black, #010203);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.select-with-label label span {
  color: #EB1000;
}
.select-with-label select {
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border-bottom: 1px solid #CFCFCF;
}

.image-card {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  height: 387px;
}
.image-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
}
.image-card .text-box {
  border-radius: 12px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  z-index: 1;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.image-card .card-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.image-card .card-description-italic {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
}
.image-card .card-description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.image-card .send-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 6px 0px;
  border-bottom: 1px solid #000;
  background: #FFF;
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
}
.image-card .send-request span {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 140%;
}
.image-card .send-request img {
  width: 20px;
  height: 20px;
  position: relative;
}
.image-card .card-badget {
  padding: 12px;
  border-radius: 12px;
  background: #FFF;
  z-index: 1;
  margin-left: 16px;
  margin-right: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.image-card .card-badget span {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.section-info {
  padding: 24px;
  border-radius: 12px;
  background: #F4F5F6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}
.section-info-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 4px;
}
.section-info-description {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.section-info .text-box {
  border-radius: 12px;
  background: #FFF;
  padding: 16px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.accordion .accordion-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: transparent;
  border-bottom: 1px solid #5F5F5F;
  padding-bottom: 16px;
}
.accordion .accordion-item:last-child {
  border: none;
}
.accordion .accordion-item .accordion-header .accordion-button {
  padding: 0;
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 120%;
  display: flex;
  justify-content: space-between;
}
.accordion .accordion-item .accordion-header .accordion-button::after {
  display: none !important;
}
.accordion .accordion-item .accordion-header .accordion-button .accordion-icon {
  display: inline-flex;
  margin-left: 8px;
}
.accordion .accordion-item .accordion-header .accordion-button.collapsed img {
  transform: rotate(0deg);
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) img {
  transform: rotate(180deg);
}
.accordion .accordion-item .accordion-header:not(.collapsed) {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
}
.accordion .accordion-item .accordion-header:focus {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
}
.accordion .accordion-collapse .accordion-body {
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.feedback-card .card-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.feedback-card .card-header .customer-image {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}
.feedback-card .card-header .customer-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.feedback-card .card-header .feedback-content span {
  color: #000;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
}
.feedback-card .card-header .swipe-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.feedback-card .card-header .swipe-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background: #7A1E24;
}
.feedback-card .card-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.feedback-card .card-body .customer-name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.feedback-card .card-body .customer-info {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.member-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.member-card .member-image {
  height: 302px;
  border-radius: 12px;
  overflow: hidden;
}
.member-card .member-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.member-card .member-infos {
  display: flex;
  flex-direction: column;
}
.member-card .member-infos .member-name {
  color: #2D2D2D;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.member-card .member-infos .member-position {
  color: #858585;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.homepage-container {
  padding: 16px;
}
.homepage-container .homepage-head {
  background: url("/assets/images/homepage-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 923px;
  padding: 24px 50px 32px 50px;
  border-radius: 16px;
}
.homepage-container .homepage-head .hero {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.homepage-container .homepage-head .hero .hero-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: 1;
}
.homepage-container .homepage-head .hero .hero-intro span {
  color: #fff;
}
.homepage-container .homepage-head .hero .hero-intro .hero-description {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 140%;
  letter-spacing: 0.32px;
}
.homepage-container .homepage-head .hero .hero-intro .hero-actions {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.homepage-container .homepage-head .hero .hero-intro .hero-actions .send-request {
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-container .homepage-head .hero .hero-intro .hero-actions .free-consultation {
  padding: 12px;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
}
.homepage-container .homepage-head .hero .hero-form {
  width: 40%;
  border-radius: 12px;
  border: 1px solid #E7E9ED;
  background: #FFF;
  box-shadow: 0 4px 6px -2px rgba(51, 51, 51, 0.03);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.homepage-container .homepage-head .hero .hero-form .form-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.homepage-container .homepage-head .hero .hero-form .form-header .form-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.homepage-container .homepage-head .hero .hero-form .form-header .form-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.homepage-container .homepage-head .hero .hero-form .form-nav {
  padding-bottom: 12px;
}
.homepage-container .homepage-head .hero .hero-form .form-nav .nav-pills .nav-item {
  width: 50%;
  border-bottom: 1px solid #efefef;
}
.homepage-container .homepage-head .hero .hero-form .form-nav .nav-pills .nav-item .nav-link {
  color: var(--neutral-colors-black, #010203);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.homepage-container .homepage-head .hero .hero-form .form-nav .nav-pills .active {
  background-color: transparent;
  border-bottom: 1px solid #000;
  color: #000;
}
.homepage-container .homepage-head .hero .hero-form .tab-content .tab-pane .tab-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.homepage-container .homepage-head .hero .hero-form .tab-content .tab-pane .tab-wrapper .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.homepage-container .homepage-head .hero .hero-form .tab-content .tab-pane .tab-wrapper .form .form-grid-item:nth-child(n+3) {
  grid-column: 1/-1;
}
.homepage-container .homepage-head .hero .hero-form .tab-content .tab-pane .tab-wrapper .send-request {
  margin-top: 8px;
}
.homepage-container .homepage-head .hero .hero-form .tab-content .tab-pane .tab-wrapper .form-info {
  color: var(--Black-01, #333);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.28px;
}
.homepage-container .partners-section {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.homepage-container .partners-section .section-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.homepage-container .partners-section .partners {
  display: flex;
  align-items: center;
  gap: 42px;
}
.homepage-container .services-section {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.homepage-container .services-section .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage-container .services-section .section-body .section-intro {
  padding: 16px !important;
  border-radius: 12px;
  background: #1B344D;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
}
.homepage-container .services-section .section-body .section-intro .section-description-white {
  font-weight: 300;
}
.homepage-container .services-section .section-body .section-intro .btn-white {
  margin-top: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-container .services-section .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.homepage-container .services-section .grid-container > .grid-item {
  grid-column: span 2;
  padding: 0;
}
.homepage-container .services-section .grid-container > .grid-item:nth-child(-n+2) {
  grid-column: span 3;
}
@media (max-width: 768px) {
  .homepage-container .services-section .grid-container {
    grid-template-columns: 1fr;
  }
  .homepage-container .services-section .grid-container > .grid-item {
    grid-column: auto;
  }
}
.homepage-container .audience-and-vision {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.homepage-container .audience-and-vision .section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.homepage-container .audience-and-vision .section-header .section-description-gray {
  text-align: center;
}
.homepage-container .audience-and-vision .section-body {
  display: flex;
  align-items: center;
  gap: 16px;
}
.homepage-container .audience-and-vision .section-body .image-card {
  width: 50%;
}
.homepage-container .audience-and-vision .section-body .section-info {
  width: 50%;
  height: 387px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
.homepage-container .faq-section {
  padding: 0 50px 100px 50px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.homepage-container .faq-section .section-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 40%;
}
.homepage-container .faq-section .section-intro .form-button {
  margin-top: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-container .faq-section .accordion {
  width: 60%;
}
.homepage-container .blogs-section {
  padding: 0 50px 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.homepage-container .blogs-section .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage-container .blogs-section .section-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.homepage-container .customer-feedbacks {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 50px 100px 50px;
}
.homepage-container .contact-us-section {
  padding: 0 50px 100px 50px;
}
.homepage-container .contact-us-section .section-body {
  border-radius: 12px;
  background: #16293A;
  padding: 16px;
  display: flex;
  gap: 24px;
}
.homepage-container .contact-us-section .section-body .section-intro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  width: 50%;
}
.homepage-container .contact-us-section .section-body .section-intro .intro-actions {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.homepage-container .contact-us-section .section-body .section-intro .intro-actions .whatsapp-button {
  padding: 12px;
  border-radius: 6px;
  background: #29D045;
  display: flex;
  align-items: center;
  gap: 10px;
}
.homepage-container .contact-us-section .section-body .section-intro .intro-actions .whatsapp-button img {
  width: 20px;
  height: 20px;
}
.homepage-container .contact-us-section .section-body .section-intro .intro-actions .whatsapp-button span {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 140%;
}
.homepage-container .contact-us-section .section-body .section-image {
  height: 355px;
  width: 50%;
  border-radius: 12px;
  overflow: hidden;
}
.homepage-container .contact-us-section .section-body .section-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-us-page-container {
  padding: 16px;
}
.about-us-page-container .about-us-head {
  padding: 24px 50px 32px 50px;
  border-radius: 16px;
  background: #1B344D;
}
.about-us-page-container .about-us-head .hero {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}
.about-us-page-container .about-us-section {
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about-us-page-container .about-us-section .section-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.about-us-page-container .our-team-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about-us-page-container .our-team-section .section-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-us-page-container .our-team-section .section-body {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.about-us-page-container .certifications-section {
  padding: 0px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about-us-page-container .certifications-section .section-body {
  display: flex;
  gap: 24px;
}
.about-us-page-container .certifications-section .section-body .certificate-card {
  border-radius: 300px;
  background: #F4F5F6;
  overflow: hidden;
  height: 300px;
  display: flex;
  padding: 77px 39px 0 40px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.about-us-page-container .certifications-section .section-body .certificate-card .card-img {
  width: 230px;
  height: 311px;
  margin-top: 70px;
}
.about-us-page-container .certifications-section .section-body .certificate-card .card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-us-page-container .location-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 50px 50px 50px;
}
.about-us-page-container .location-section .section-body .location-image {
  border-radius: 12px;
  overflow: hidden;
  height: 390px;
}
.about-us-page-container .location-section .section-body .location-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-us-page-container .contact-us-section {
  padding: 0 50px 100px 50px;
}
.about-us-page-container .contact-us-section .section-body {
  border-radius: 12px;
  background: #16293A;
  padding: 16px;
  display: flex;
  gap: 24px;
}
.about-us-page-container .contact-us-section .section-body .section-intro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  width: 50%;
}
.about-us-page-container .contact-us-section .section-body .section-intro .intro-actions {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.about-us-page-container .contact-us-section .section-body .section-intro .intro-actions .whatsapp-button {
  padding: 12px;
  border-radius: 6px;
  background: #29D045;
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-us-page-container .contact-us-section .section-body .section-intro .intro-actions .whatsapp-button img {
  width: 20px;
  height: 20px;
}
.about-us-page-container .contact-us-section .section-body .section-intro .intro-actions .whatsapp-button span {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 140%;
}
.about-us-page-container .contact-us-section .section-body .section-image {
  height: 355px;
  width: 50%;
  border-radius: 12px;
  overflow: hidden;
}
.about-us-page-container .contact-us-section .section-body .section-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.test-container {
  /* ilk 2 kart 1-ci sətirdə 2 ədəd olsun */
}
.test-container .cards-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.test-container .card-item {
  background-color: green;
}
.test-container .cards-grid > .card-item {
  grid-column: span 2;
}
.test-container .cards-grid > .card-item:nth-child(-n+2) {
  grid-column: span 3;
}/*# sourceMappingURL=style.css.map */