@use '../abstracts/mixins' as *;

.about-us-page-container {

    .about-us-section {
        padding: 50px 50px 0px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            gap: 24px;
            padding: 32px 0 0 0;
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .our-team-section {
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            gap: 24px;
            padding: 50px 0 50px 0;
        }

        .section-header {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .section-body {
            display: flex;
            justify-content: space-between;
            gap: 24px;

            @include mq(tablet-portrait-up) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
            }
        }
    }

    .certifications-section {
        padding: 0px 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up){
            padding: 0 0 50px 0;
        }

        .section-body {
            display: flex;
            gap: 24px;

            @include mq(tablet-portrait-up) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }

            .certificate-card {
                border-radius: 300px;
                background: #F4F5F6;
                overflow: hidden;
                height: 300px;
                display: flex;
                padding: 77px 39px 0 40px;
                justify-content: center;
                align-items: center;
                flex: 1 0 0;

                @include mq(tablet-portrait-up) {
                    border-radius: 50%;
                    height: auto;
                }

                .card-img {
                    width: 230px;
                    height: 311px;
                    margin-top: 70px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .location-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0 50px 50px 50px;

        @include mq(tablet-portrait-up){
            padding: 0 0 50px 0;
        }

        .section-body {
            .location-image {
                border-radius: 12px;
                overflow: hidden;
                height: 390px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}