@use '../abstracts/mixins' as *;

.about-us-page-container {

    .about-us-section {
        padding: 50px 50px 0px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            gap: 24px;
            padding: 32px 0 0 0;
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .our-team-section {
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            gap: 24px;
            padding: 50px 0 50px 0;
        }

        .section-header {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;

            @include mq(tablet-portrait-up) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
            }

            @include mq(phone-only) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 16px;
            }
        }
    }

    .certifications-section {
        padding: 0px 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 0 0 50px 0;
        }

        .section-body {

            .certificates {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: clamp(16px, 3vw, 56px);
                align-items: center;
                justify-items: center;

                @include mq(tablet-portrait-up) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mq(phone-only) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    .location-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0 50px 50px 50px;

        @include mq(tablet-portrait-up) {
            padding: 0 0 50px 0;
        }

        .section-body {
            .location-image {
                border-radius: 12px;
                overflow: hidden;
                height: 390px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}