@use '../abstracts/mixins' as *;

.blog-page-container {

    .blogs-container {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        row-gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 50px 0;
            grid-template-columns: repeat(1, 1fr);
        }


    }
}