@use '../abstracts/mixins' as *;

.blog-details-page-container {

    .blog-details {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px 50px 50px 50px;

        @include mq(tablet-portrait-up) {
            padding: 32px 0 32px 0;
        }

        .share-article {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                color: #333;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0.28px;
            }

            .share-links {
                display: flex;
                align-items: center;
                gap: 24px;

                .link {
                    padding: 12px;
                    border-radius: 8px;
                    border: 1px solid #E2E2E2;
                    background: #EBEBEB;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }

    .recommended-blogs {
        padding: 0 50px 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 0 0 50px 0;
        }

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                gap: 16px;
            }

        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

}