.blog-page-container {
    padding: 16px;

    .blog-head {
        padding: 24px 50px 32px 50px;
        border-radius: 16px;
        background: #1B344D;

        .hero {
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 60%;
        }
    }

    .blogs-container{
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        row-gap: 32px;
    }
}