@use '../abstracts/mixins' as *;

.cases-page-container {

    .our-cases {
        padding: 50px 50px 0px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 50px 0 50px 0;
        }

        .section-body {
            display: flex;
            flex-direction: column;

            .case-part {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;

                @include mq(tablet-portrait-up) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .customer-review-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .section-body {
                        display: flex;

                        .customer-review {
                            width: 100%;
                        }
                    }
                }

            }

            .case-two {
                padding-top: 100px;

                @include mq(tablet-portrait-up) {
                    padding-top: 50px;
                }
            }

            .case-three {
                padding-top: 100px;
                padding-bottom: 100px;

                @include mq(tablet-portrait-up) {
                    padding-top: 50px;
                    padding-bottom: 0px;
                }
            }

        }
    }
}