.contact-us-page-container {

    .page-head-image {
        background: url('/assets/images/contact-hero.png');
    }
}


.contact-us {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 50px;


    .contact-us-section {

        .section-body {
            border-radius: 12px;
            background: #16293A;
            padding: 16px;
            display: flex;
            gap: 24px;

            .section-intro {
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-end;
                width: 50%;

                .intro-actions {
                    margin-top: 12px;
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    .whatsapp-button {
                        padding: 12px;
                        border-radius: 6px;
                        background: #29D045;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 20px;
                            height: 20px;
                        }

                        span {
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 510;
                            line-height: 140%;
                        }
                    }
                }
            }

            .section-image {
                height: 355px;
                width: 50%;
                border-radius: 12px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}