.contact-us-page-container {
    padding: 16px;

    .contact-us-head {
        background: url('/assets/images/contact-hero.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 923px;
        padding: 24px 50px 32px 50px;
        border-radius: 16px;

        .hero {
            padding-top: 70px;
            display: flex;
            justify-content: space-between;
            gap: 150px;

            .hero-intro {
                display: flex;
                flex-direction: column;
                gap: 16px;
                flex-wrap: 1;

                span {
                    color: #fff;
                }

                .hero-description {
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 140%;
                    letter-spacing: 0.32px;
                }

                .hero-actions {
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .send-request {
                        width: fit-content;
                    }

                    .free-consultation {
                        padding: 12px;
                        background-color: #fff;
                        color: #000;
                        border-radius: 6px;
                    }
                }
            }

            .hero-form {
                width: 40%;
                border-radius: 12px;
                border: 1px solid #E7E9ED;
                background: #FFF;
                box-shadow: 0 4px 6px -2px rgba(51, 51, 51, 0.03);
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .form-header {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .form-title {
                        color: #000;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                    }

                    .form-description {
                        color: rgba(0, 0, 0, 0.50);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }

                .form-nav {
                    padding-bottom: 12px;

                    .nav-pills {

                        .nav-item {
                            width: 50%;
                            border-bottom: 1px solid #efefef;


                            .nav-link {
                                color: var(--neutral-colors-black, #010203);
                                text-align: center;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                            }
                        }

                        .active {
                            background-color: transparent;
                            border-bottom: 1px solid #000;
                            color: #000;
                        }
                    }
                }

                .tab-content {

                    .tab-pane {

                        .tab-wrapper {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .form {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 16px;

                                .form-grid-item {
                                    &:nth-child(n+3) {
                                        grid-column: 1 / -1;
                                    }
                                }
                            }

                            .send-request {
                                margin-top: 8px;
                            }

                            .form-info {
                                color: var(--Black-01, #333);
                                text-align: center;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                                letter-spacing: 0.28px;
                            }

                        }

                    }

                }
            }
        }

    }

    .contact-us {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 50px;


        .contact-us-section {

            .section-body {
                border-radius: 12px;
                background: #16293A;
                padding: 16px;
                display: flex;
                gap: 24px;

                .section-intro {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    justify-content: flex-end;
                    width: 50%;

                    .intro-actions {
                        margin-top: 12px;
                        display: flex;
                        align-items: center;
                        gap: 24px;

                        .whatsapp-button {
                            padding: 12px;
                            border-radius: 6px;
                            background: #29D045;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            img {
                                width: 20px;
                                height: 20px;
                            }

                            span {
                                color: #FFF;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 510;
                                line-height: 140%;
                            }
                        }
                    }
                }

                .section-image {
                    height: 355px;
                    width: 50%;
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

}