.contact-us {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 50px;

    .contact-card{
        .section-intro{
            justify-content: space-between;
        }
    }
}