@use '../abstracts/mixins' as *;

.homepage-container {

    .page-head-image {
        background-image: url("../images/homepage-hero.png");

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

    }

    .partners-section {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 50px 16px;
        }

        .logo-strip {
            width: 100%;

        }

        .section-title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }

    .homepage-services-section {
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            gap: 24px;
            padding: 0;
        }

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                gap: 12px;

                .section-title {
                    text-align: center;
                }
            }
        }

        .section-body {

            .section-intro {
                padding: 16px !important;
                border-radius: 12px;
                background: #1B344D;
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-end;

                .section-description-white {
                    font-weight: 300;
                }

                .btn-white {
                    margin-top: 12px;
                    width: fit-content;
                }
            }

        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 16px;

            >.grid-item {
                grid-column: span 2;
                padding: 0;

                &:nth-child(-n + 2) {
                    grid-column: span 3;
                }
            }

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }

        }
    }

    .audience-and-vision {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include mq(tablet-portrait-up) {
            padding: 50px 0;
            gap: 24px;
        }

        .section-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            @include mq(tablet-portrait-up) {
                .section-title {
                    text-align: center;
                }
            }



            .section-description-gray {
                text-align: center;
            }
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .faq-section {
        padding: 0 50px 100px 50px;
        display: flex;
        align-items: center;
        gap: 100px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            gap: 24px;
            padding: 0 0 50px 0;
        }

        .section-intro {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            width: 40%;

            @include mq(tablet-portrait-up) {
                width: 100%;
                align-items: center;
            }

            .form-button {
                margin-top: 12px;
                width: fit-content;
            }
        }

        .accordion {
            width: 60%;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }
        }
    }

    .blogs-section {
        padding: 0 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 0px 0 50px 0;
        }

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                gap: 16px;

                .section-title {
                    text-align: center;
                }
            }
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {

                grid-template-columns: repeat(1, 1fr);

            }
        }
    }

    .customer-feedbacks {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 50px 100px 50px;

        @include mq(tablet-portrait-up) {
            gap: 32px;
            padding: 0 0 50px 0;
        }

        .section-body {
            display: flex;
            gap: 100px;
            align-items: flex-start;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                gap: 16px;
            }

            .swipe-buttons {
                display: flex;
                align-items: center;
                gap: 12px;

                .swipe-button {
                    border-radius: 50%;
                    border-radius: 100px;
                    background: #7A1E24;
                    padding: 12px;
                }
            }
        }
    }

}