.homepage-container {
    padding: 16px;

    .homepage-head {
        background: url('/assets/images/homepage-hero.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 923px;
        padding: 24px 50px 32px 50px;
        border-radius: 16px;

        .hero {
            padding-top: 70px;
            display: flex;
            justify-content: space-between;
            gap: 150px;

            .hero-intro {
                display: flex;
                flex-direction: column;
                gap: 16px;
                flex-wrap: 1;

                span {
                    color: #fff;
                }

                .hero-description {
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 140%;
                    letter-spacing: 0.32px;
                }

                .hero-actions {
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .send-request {
                        width: fit-content;
                    }

                    .free-consultation {
                        padding: 12px;
                        background-color: #fff;
                        color: #000;
                        border-radius: 6px;
                    }
                }
            }

            .hero-form {
                width: 40%;
                border-radius: 12px;
                border: 1px solid #E7E9ED;
                background: #FFF;
                box-shadow: 0 4px 6px -2px rgba(51, 51, 51, 0.03);
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .form-header {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .form-title {
                        color: #000;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                    }

                    .form-description {
                        color: rgba(0, 0, 0, 0.50);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }

                .form-nav {
                    padding-bottom: 12px;

                    .nav-pills {

                        .nav-item {
                            width: 50%;
                            border-bottom: 1px solid #efefef;


                            .nav-link {
                                color: var(--neutral-colors-black, #010203);
                                text-align: center;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                            }
                        }

                        .active {
                            background-color: transparent;
                            border-bottom: 1px solid #000;
                            color: #000;
                        }
                    }
                }

                .tab-content {

                    .tab-pane {

                        .tab-wrapper {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .form {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 16px;

                                .form-grid-item {
                                    &:nth-child(n+3) {
                                        grid-column: 1 / -1;
                                    }
                                }
                            }

                            .send-request {
                                margin-top: 8px;
                            }

                            .form-info {
                                color: var(--Black-01, #333);
                                text-align: center;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                                letter-spacing: 0.28px;
                            }

                        }

                    }

                }
            }
        }

    }

    .partners-section {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .section-title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        .partners {
            display: flex;
            align-items: center;
            gap: 42px;
        }
    }

    .homepage-services-section {
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section-body {

            .section-intro {
                padding: 16px !important;
                border-radius: 12px;
                background: #1B344D;
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-end;

                .section-description-white {
                    font-weight: 300;
                }

                .btn-white {
                    margin-top: 12px;
                    width: fit-content;
                }
            }

        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 16px;

            >.grid-item {
                grid-column: span 2;
                padding: 0;

                &:nth-child(-n + 2) {
                    grid-column: span 3;
                }
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;

                >.grid-item {
                    grid-column: auto
                }
            }

        }
    }

    .audience-and-vision {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .section-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .section-description-gray {
                text-align: center;
            }
        }

        .section-body {
            display: flex;
            align-items: center;
            gap: 16px;

            .image-card {
                width: 50%;
            }

            .section-info {
                width: 50%;
                height: 387px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 16px;
            }

        }
    }

    .faq-section {
        padding: 0 50px 100px 50px;
        display: flex;
        align-items: center;
        gap: 100px;

        .section-intro {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            width: 40%;

            .form-button {
                margin-top: 12px;
                width: fit-content;
            }
        }

        .accordion {
            width: 60%;
        }
    }

    .blogs-section {
        padding: 0 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }
    }

    .customer-feedbacks {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 50px 100px 50px;

        .section-body {
            display: flex;
            gap: 100px;
            align-items: flex-start;

            .swipe-buttons {
                display: flex;
                align-items: center;
                gap: 12px;

                .swipe-button {
                    border-radius: 50%;
                    border-radius: 100px;
                    background: #7A1E24;
                    padding: 12px;
                }
            }
        }
    }

    .contact-us-section {
        padding: 0 50px 100px 50px;

        .section-body {
            border-radius: 12px;
            background: #16293A;
            padding: 16px;
            display: flex;
            gap: 24px;

            .section-intro {
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-end;
                width: 50%;

                .intro-actions {
                    margin-top: 12px;
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    .whatsapp-button {
                        padding: 12px;
                        border-radius: 6px;
                        background: #29D045;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 20px;
                            height: 20px;
                        }

                        span {
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 510;
                            line-height: 140%;
                        }
                    }
                }
            }

            .section-image {
                height: 355px;
                width: 50%;
                border-radius: 12px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}