.logistics-page-container {
    padding: 16px;

    .logistics-head {
        padding: 24px 50px 32px 50px;
        border-radius: 16px;
        background: #1B344D;
        background: url('/assets/images/logistics-hero.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .hero {
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 60%;
        }
    }

    .our-partner {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

    }

    .transportation-options {
        padding: 0 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

    }

    .choose-option {
        padding: 0 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section-body {

            .warning {
                color: rgba(0, 0, 0, 0.50);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }

        }
    }

    .price-factors {
        padding: 0 50px 100px 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        >.grid-item:nth-child(3) {
            grid-column: 1 / -1;
        }
    }
}