@use '../abstracts/mixins' as *;

.logistics-page-container {

    .our-partner {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 50px 0 0 0;
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

    }

    .transportation-options {
        padding: 0 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 50px 0;
        }

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                gap: 16px;
            }
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

    }

    .choose-option {
        padding: 0 50px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 0 0 50px 0;
        }

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                gap: 16px;
            }
        }

        .section-body {


            .table-div {
                border-radius: 16px;
                overflow: hidden;
                border: 1px solid #dedede;
            }

            .warning {
                color: rgba(0, 0, 0, 0.50);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }

        }
    }

    .price-factors {
        padding: 0 50px 100px 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 0 50px 0;
        }

        >.grid-item:nth-child(3) {
            grid-column: 1 / -1;
        }
    }
}