@use '../abstracts/mixins' as *;

.services-page-container {

    .services-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 50px;

        @include mq(tablet-portrait-up) {
            padding: 50px 0 50px 0;
        }

        .section-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }


    }

}