.services-page-container {
    padding: 16px;

    .services-head {
        padding: 24px 50px 32px 50px;
        border-radius: 16px;
        background: #1B344D;

        .hero {
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 60%;
        }
    }

    .services-section {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

}