.test-container {

    .certificates__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 56px;
        flex-wrap: wrap;
        background-color: red;
    }

    .cert {
        width: 210px;
        height: 210px;
        border-radius: 50%;
        background: #f3f4f6;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-decoration: none;
        background-color: green;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
            margin-top: 100px;
        }
    }

}