.test-container {
    padding: 40px;

    .hero {
        position: relative;
        overflow: hidden;
        height: 546px;
    }

    .hero-bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    }

    .hero-content {
        position: relative;
        z-index: 1;
        color: #fff;
    }

}